.sidebar {
	border-right: 4px solid #ffb20a;
	height: 100vh;
	background-color: rgba(20, 19, 19, 0.219);
}

@media screen and (max-width: 768px) {
	.sidebar {
		border-bottom: 4px solid #ffb20a;
		border-right: none;
		height: 100%;
	}
}
