.dial__phone-number {
	display: flex;
	border-bottom: 1px solid #ddd6ea;
	padding-bottom: 0.5rem;
	position: relative;
	align-items: center;
	margin-bottom: 0.5rem;
	animation: scaleOut ease-in-out 0.3s;
}

.dial__phone-number > input {
	width: 100%;
	background-color: transparent;
	border: none;
	font-size: 2rem;
	text-align: center;
	letter-spacing: 2px;
	color: #fff;
}

.dial__phone-number > input:focus {
	border: none;
	outline: none;
}

.dial__phone-number > i {
	color: #fff;
	cursor: pointer;
	font-size: 32px;
}

.dial__key-pad {
	display: grid;
	margin-bottom: 0.5rem;
	grid-template-columns: auto auto auto;
	gap: 1rem;
	animation: scaleOut ease-in-out 0.3s;
}

@keyframes scaleOut {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
