.dial__calling {
	animation: scaleOut ease-in-out 0.3s;
}

.dial__calling-recipient {
	margin-bottom: 4rem;
	font-size: 2.5rem;
	color: #fff;
	text-align: center;
}

.dial__calling-brand {
	margin-bottom: 4rem;
	font-size: 2.5rem;
	color: #fff;
	text-align: center;
}

.dial__calling-status {
	margin-bottom: 5rem;
	color: #fff;
	text-align: center;
}

.dial__calling-container {
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	gap: 0.5rem;
	margin-bottom: 5rem;
}

@keyframes scaleOut {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
