.history__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 2px solid #8225df;
	border-radius: 0.5rem;
	padding: 1rem;
	margin: 0.25rem 0;
}

.history__item-recipient {
	color: #8225df;
}

.history__item-status {
	color: #8225df;
}
