.dial__cancel-btn {
	display: flex;
	padding: 1rem 3.5rem;
	justify-content: center;
	background-color: #df2727;
	border-radius: 100px;
	margin: 0 auto;
	color: #fefefe;
	border: none;
	outline: none;
	animation: scaleOut ease-out 0.3s;
}

.dial__cancel-btn:hover {
	background-color: #ff0505;
}

.dial__cancel-btn > i {
	font-size: 2rem;
}

@keyframes scaleOut {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
