.history__btn {
	font-size: 2rem;
	padding: 0 0.5rem;
	background-color: transparent;
	border-radius: 0.5rem;
	border: none;
	margin-right: 0.5rem;
	color: #8225df;
}

.history__btn:hover {
	outline: 4px solid #8225df;
}
