.key-pad__btn {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	transition: all ease-out 0.2s;
}

.key-pad__btn:hover {
	border-bottom: 2px solid #ccc;
}

.key-pad__btn > button {
	padding: 1.5rem 2.5rem;
	border-radius: 50%;
	border: none;
	background-color: transparent;
	color: #fefefe;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.key-pad__btn span {
	font-size: 1rem;
}
